@charset "utf-8";

@import "../common/config";

.app-header {
    @extend %pane;
    $paddingTop: 5px;

    left: 0;
    top: 0;
    right: 0;
    height: $headerHeight;
    line-height: $headerHeight - 2 * $paddingTop;
    padding: $paddingTop 10px;
    border-bottom: 1px solid $borderColor;
    background-color: white;
    z-index: 10;
}
