@charset "utf-8";

@import "../common/config";

.meditor-property {
    @extend %pane;

    right: 0;
    top: $headerHeight;
    bottom: 0;
    width: $propertyWidth;
    background-color: white;
    border-right: 1px solid $borderColor;
}

