@charset "utf-8";

@import "../common/config";

.meditor-header {
    @extend %pane;

    left: 0;
    top: 0;
    right: 0;
    height: $headerHeight;
    line-height: $headerHeight;
    border-bottom: 1px solid $borderColor;
    box-shadow: 0 1px 3px 1px rgba($borderColor, .75);
    background-color: white;
    z-index: 10;
}
