@charset "utf-8";

@import "../common/reset";
@import "../common/config";

.meditor-container {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: $fontColor;
    background-color: $bodyBgColor;
}
