@charset "utf-8";

@import "../common/config";

.app-paper-wrapper {
    @extend %pane;
    $padding: 20px;

    left: $widgetWidth + $padding;
    top: $headerHeight + $padding;
    right: $propertyWidth + $padding;
    bottom: 0;
}


.app-paper {
    @extend %pane;

    top: 0;
    left: 0;
    width: 210mm;
    height: 297mm;
    background-color: white;
    border: 1px solid $borderColor;
    box-shadow: 0 0 3px 1px $borderColor;
}
