@charset "utf-8";

@import "../common/config";

.app-wrapper {
    @extend %pane;

    left: $widgetWidth;
    top: $headerHeight;
    right: $propertyWidth;
    bottom: 0;
    overflow: scroll;
}

.app-canvas {
    @extend %pane;
    $padding: 20px;
    padding: $padding;
}

.app-paper {
    width: 210mm;
    height: 297mm;
    background-color: white;
    border: 1px solid $borderColor;
    box-shadow: 0 0 5px 1px rgba($borderColor, 0.45);
    overflow: hidden;
}
