@charset "utf-8";

@import "../common/config";

.meditor-widget {
    @extend %pane;

    left: 0;
    top: $headerHeight;
    bottom: 0;
    width: $widgetWidth;
    background-color: white;
    border-right: 1px solid $borderColor;
}

